# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Carlos\Desktop\Carlos\Universidad\2do_semestre_2021\IPC 2\Laboratorio\Proyecto 1\IPC2_Proyecto1_201905515\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
